@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  
}

img {
  width: 600px;
 margin-left: 450px;


  
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  align-items: center;
  padding: 6px;
  margin: 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-content: center;

}

.header {
display: flex;
justify-content: space-between;
height: 10vh;
padding-bottom: 20px;
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(232, 234, 237);
  height: 10vh;
}

.left-links,.right-links {
  list-style: none;
  display: flex;

}

 li {
  margin: 0px 10px;
 }

 .content {
  height: 80vh;
 }

 .input {
display: flex;
justify-content: center;
 }

.buttons {
  display: flex;
  justify-content:center;
  align-content: center;

}
